<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Identificaci&oacute;n:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese la identificaci&oacute;n" maxlength="10"
                            name="identificacion" id="identificacionid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="nombres">Nombres:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese sus nombres" name="nombres"
                            id="nombresid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="apellidos">Apellidos:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese sus Apellidos" name="apellidos"
                            id="apellidosid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="recipient-birthdate" class="col-form-label">Fecha de nacimiento:</label>
                        <input name="recipient-birthdate" type="date" class="form-control" id="recipient-birthdate"
                            required>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="curso">Curso:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese el curso" name="curso"
                            id="curoid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>