<form action="" autocomplete="off">
    <div>
        <br>
        <div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="">Nombres y Apellidos:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese sus Nombres y Apellidos"
                            name="name" id="nameid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div>
                        <label for="relacion">Relaci&oacute;n</label>
                    </div>
                    <div>
                        <select name="relacion" id="relacionid">
                            <option [value]=1>Padre</option>
                            <option [value]=2>Madre</option>
                            <option [value]=2>T&iacute;o</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="telefono">Tel&eacute;fono:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text"
                            placeholder="Ingrese un n&uacute;mero de tel&eacute;fono" name="telefono" id="telefonoid">
                    </div>
                </div>
                <div class="col">
                    <div>
                        <label for="email">Email:</label>
                    </div>
                    <div>
                        <input class="form-control" type="text" placeholder="Ingrese un email (Opcional)" name="email"
                            id="emailid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>